.container{
    margin: 20px;
    padding: 10px;
    background-color: rgb(213, 201, 201);
}

button{
    width: 200px;
    height: 40px;
    background-color: rgb(25, 4, 255);
    border: none;
    color: white;
    cursor: pointer;
}